<div class="form-group">
  <label>Min location radius - {{ vis.params.minRadius }}px</label>
  <input type="range" ng-model="vis.params.minRadius" class="form-control" min="5" max="20"/>
</div>
<div class="form-group">
  <label>Max location radius - {{ vis.params.maxRadius }}px</label>
  <input type="range" ng-model="vis.params.maxRadius" class="form-control" min="21" max="120"/>
</div>
<div class="form-group">
  <label>Background color</label>
  <input type="text" ng-model="vis.params.mapBackgroundColor" class="form-control" />
</div>
<div class="form-group">
  <label>Circle color (min)</label>
  <input type="text" ng-model="vis.params.circleColorMin" class="form-control" />
</div>
<div class="form-group">
  <label>Circle color (max)</label>
  <input type="text" ng-model="vis.params.circleColorMax" class="form-control" />
</div>
<div class="form-group">
  <label>Opacity - {{ vis.params.circleOpacity }} %</label>
  <input type="range" ng-model="vis.params.circleOpacity" class="form-control" min="10" max="100"/>
</div>
<div class="form-group">
  <label>Map (pick world or europe)</label>
  <!--input type="text" ng-model="vis.params.selectedMap" class="form-control" /-->
  <select class="form-control"
              ng-options="map for map in vis.params.maps"
              ng-model="vis.params.selectedMap">
  </select>
</div>
